@font-face {
  font-family: 'heavitas';
  src: url('../../fonts/Heavitas.ttf') format('truetype'); /* Adjust path as necessary */
  font-weight: normal; /* or bold if you have a bold version */
  font-style: normal; /* or italic if you have an italic version */
}
@font-face {
  font-family: 'brock';
  src: url('../../fonts/BrockRestar-VGRDz.otf') format('opentype'); /* Adjust path as necessary */
  font-weight: normal; /* or bold if you have a bold version */
  font-style: normal; /* or italic if you have an italic version */
}

@font-face {
  font-family: 'fonarto';
  src: url('../../fonts/Fonarto.ttf') format('opentype'); /* Adjust path as necessary */
  font-weight: normal; /* or bold if you have a bold version */
  font-style: normal; /* or italic if you have an italic version */
}

@font-face {
  font-family: 'highsens';
  src: url('../../fonts/HIGHSENS.otf') format('opentype'); /* Adjust path as necessary */
  font-weight: normal; /* or bold if you have a bold version */
  font-style: normal; /* or italic if you have an italic version */
}

@font-face {
  font-family: 'raleway';
  src: url('../../fonts/Raleway-Italic-VariableFont_wght.ttf') format('opentype'); /* Adjust path as necessary */
  font-weight: normal; /* or bold if you have a bold version */
  font-style: normal; /* or italic if you have an italic version */
}


body {
  overflow: overlay;
}

*::-webkit-scrollbar {
  display: block;
  width: 0px;
}

*::-webkit-scrollbar-button {
  display: none;
}



.container {
    background-color: #1a1a2e;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 100vh;
  }
  .btnList{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .title {
    color: #AEFAF7;
    font-family: 'heavitas',sans-serif;
    text-align: left;
    margin-left: 7em;
  }
  
  .overview {
    margin-bottom: 20px;
    font-family: 'fonarto',sans-serif;
    text-align: left;
    color: #AEFAF7;
    margin-left: 14em;
    margin-right: 14em;

  }
  
  .menu {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 4em;
  }
  
  .button {
    background-color: #AEFAF7;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    height: auto;
    font-size: 25px;
    font-family: 'brock',sans-serif;
  }
  
  .playNowContainer {
    margin-top: 20px;
    margin-right: 250px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items:start;
  }
  
  .playNowButton {
    background-color:#AEFAF7;
    color: orangered;
    font-family: 'heavitas',sans-serif;
    padding: 10px 20px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;

  }
  .sideImage{
    width: 30vw;
  }
  
  /* Modal styles */
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: #0E1122;
    color: #AEFAF7;
    padding: 20px;
    padding-top: 0px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    max-height: 80vh; /* Set max-height */
    overflow-y: auto;  /* Enable vertical scrolling */
    text-align: left;
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    padding-top: 10px;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #AEFAF7;
  }

  .closeButtonImage {
    height: 40px;
    width: 40px
  }
  
  .modalTitle{
    font-family: 'heavitas',sans-serif;
  }
  .modalBody {
    font-family: 'raleway';
    margin-top: 20px;
  }
  

