.container {
    background-color: #1a1a2e;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 100vh;
  }
  
  .title {
    color: #ff4d6d;
  }
  
  .overview {
    margin-bottom: 20px;
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #6a0572;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    height: 200px;
    font-size: 25px;
  }
  
  .playNowContainer {
    margin-top: 20px;
  }
  
  .playNowButton {
    background-color: #ff4d6d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
  }
  
  /* Modal styles */
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: #0E1122;
    color: #AEFAF7;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    max-height: 80vh; /* Set max-height */
    overflow-y: auto;  /* Enable vertical scrolling */
    text-align: left;
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #AEFAF7;
  }
  
  .modalBody {
    margin-top: 20px;
  }
  