/* Main navbar container */
@font-face {
  font-family: 'heavitas';
  src: url('../../fonts/Heavitas.ttf') format('truetype'); /* Adjust path as necessary */
  font-weight: normal; /* or bold if you have a bold version */
  font-style: normal; /* or italic if you have an italic version */
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    height: 50px;
    background-color: #B4FAF8;
    font-family: 'heavitas',san-serif;
    margin: 5px;
  }
  
  .logo h1 {
    color: black;
  }
  
  /* Navigation links */
  .navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
    
  }
  .navLinks li{
    background-color: black;
    padding: 20px;
    padding-top:10px ;
    padding-bottom: 10px;
    border-radius: 10px;
  }
  
  .navLinks li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.5s ease-out;
  }

  
  
  .navLinks li a:active {
    font-size: larger;
  }

  
  /* Mobile menu icon */
  .mobileMenuIcon {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  /* Mobile menu (hamburger open state) */
  .mobileMenu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 20px;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .navLinks {
      display: none;
      flex-direction: column;
      width: 100%;
    }
  
    .mobileMenuIcon {
      display: block;
    }
  
    .mobileMenu {
      display: flex;
    }
  }
  
