/* Home.module.css */
@font-face {
  font-family: 'heavitas';
  src: url('../../fonts/Heavitas.ttf') format('truetype'); /* Adjust path as necessary */
  font-weight: normal; /* or bold if you have a bold version */
  font-style: normal; /* or italic if you have an italic version */
}
@font-face {
  font-family: 'highsens';
  src: url('../../fonts/HIGHSENS.otf') format('opentype'); /* Adjust path as necessary */
  font-weight: normal; /* or bold if you have a bold version */
  font-style: normal; /* or italic if you have an italic version */
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes backgroundShift {
    0% {
      background-position: center;
    }
    50% {
      background-position: top right;
    }
    100% {
      background-position: center;
    }
  }
  
  .container {
    background-color: black;
    height: 90vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; /* Text color to contrast the black background */
    background-image: url('../../assets/homeB.png'); /* Adjust path as necessary */
    background-size: cover; /* Cover the entire card */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent tiling of the image */
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards; /* Fade in title */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainTitle{
    font-family: 'heavitas', sans-serif;
    color: #AEFAF7;
    font-size: 100px;
  }
  .tagLine{
    font-family: 'highsens', sans-serif;
    color: #AEFAF7;
    font-size:25px;
    position: relative;
    bottom: 100px;

  }
  .button {
    background-color: #4286AA;
    font-family: 'heavitas', sans-serif;
    color: #AEFAF7;
    position: relative;
    bottom: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    opacity: 0;
    animation: fadeIn 2.5s ease-in-out forwards, pulse 3s ease-in-out infinite 2.5s; /* Fade in and pulse animation */
  }
  
  .button:hover {
    background-color: #590268;
    color: white;
  }
  
  .button a {
    text-decoration: none;
    color: black;
  }
  